
#bag-button{
    border: none;
    background-color: rgb(104, 225, 104);
     border-radius:10px ;
     padding: 5px 15px;
}
#wish-button{
    border-radius: 5px;
    padding: 5px 35px;
    border: 2px solid black;

}
